<div class="wholepage">
  <div class="header">

    <a href="/signin"class="btn btn-outline-secondary btn-lg">Login</a>
  </div>
  <div class="signup">
        <h1>Blog Exchange</h2>
    <div class="card">
      <div class="card-body">
        <h2>Sign up for your free Blog Exchange account!</h2>
        <p>Come express yourself and connect with others!</p>
        <form action="/users/register" method="POST">

          <div class="form-group">
            <input type="text" class="form-control" name='name' value="{{name}}" placeholder="Full Name" required>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="email" class="form-control" name="email" value="{{email}}" placeholder="Your Email" autocomplete="off" required>
            </div>

            <div class="form-group col-md-6">
              <input type="password" name="password" class="form-control" value="{{password}}" placeholder="Set a password" autocomplete="off" required>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="pic" value="{{pic}}" placeholder="Enter a profile picture URL">
          </div>
          <button type='submit' class='btn btn-success btn-block'>Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
